/*ADVANTAGES*/
.advantages {
  margin-left: auto;
  margin-right: auto;
  &-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  }
  &-item {
    margin: 0;
    color: $grey-text-color;
    line-height: 1.71;
  }
  &-icon {
    display: block;
    fill: currentColor;
    width: 70px;
    height: 70px;
  }
  &-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    width: 100%;
    height: 120px;
    border-radius: 4px;
  }
}
@media screen and (max-width: 767px) {
  .advantages-list:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    &-list {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
    &-image {
      width: 354px;
      height: 120px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    display: flex;
    justify-content: space-between;
    &-image {
      width: 270px;
      height: 120px;
    }
  }
  .advantages-list:not(:last-child) {
    margin-right: 30px;
  }
}
