/*HERO*/

// .hero {
//   max-width: 1600px;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.8),
//       rgba(47, 48, 58, 0.8)
//     ),
//     url(../images/main-page/Header.jpg);
//   padding-top: 200px;
//   padding-bottom: 200px;
//   margin-right: auto;
//   margin-left: auto;
//   text-align: center;
//   &-title {
//     margin-top: 0;
//     margin-right: auto;
//     margin-bottom: 30px;
//     margin-left: auto;
//     width: 696px;

//     color: $white-text-color;
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;

//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//   }
// }
