/*SERVICE*/
.section-service {
  padding-top: 0;
}

.service {
  display: flex;
  justify-content: center;
  &-item {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    color: $white-text-color;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  }
}

.service-list:not(:last-child) {
  margin-right: 30px;
}

.service-card-wrapper {
  position: relative;
}
