.hero .button {
  @extend %button;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.footer .button {
  @extend %button;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    background-color: white;
    color: $accent-text-color;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  outline: none;
  display: flex;
  align-items: center;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  &:hover,
  &:focus {
    border-color: $accent-text-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-form .button {
  @extend %button;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
  @media screen and (max-width: 479px) {
    min-width: 100px;
  }
}
