.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 200;
  overflow-y: scroll;
  padding: 93px 15px;
}

.modal-form {
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: $grey-text-color;
  .backdrop .is-hidden & {
    transform: translate(-50%, -50%) scale(1.3);
  }
}

.close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-close-btn:hover &,
  .modal-close-btn:focus & {
    fill: $accent-text-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form-caption {
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  color: $primary-title-color;
}

.input-field {
  position: relative;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .input-form:focus ~ & {
    fill: $accent-text-color;
  }
}

.input-form {
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  .input-form:focus-within + &,
  .input-form:not(:placeholder-shown) + & {
    transform: translate(-26px, -38px);
    color: $accent-text-color;
  }
}

.textarea-form {
  display: block;
  padding: 11px 16px;
  margin: 0;
  resize: none;
  width: 448px;
  height: 120px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
}
.textarea-field {
  position: relative;
  margin-bottom: 20px;
}

.textarea-label {
  position: absolute;
  top: 12px;
  left: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  .textarea-form:focus-within + &,
  .textarea-form:not(:placeholder-shown) + & {
    transform: translateY(-32px);
    color: $accent-text-color;
  }
}

.checkbox-field {
  margin-bottom: 30px;
}
.checkbox-label {
  position: relative;
  cursor: pointer;
  padding-left: 39px;
}
.checkbox-icon {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 0;
  left: 16px;
  border: 2px solid $primary-title-color;
  border-radius: 2px;
  .check-input:checked + & {
    background-color: $accent-text-color;
    background-image: url(../images/main-page/icon-check.svg);
    background-size: contain;
    background-position: center;
    border: 2px solid $accent-text-color;
  }
}

.agreement-link {
  color: $accent-text-color;
}
@media screen and (max-width: 767px) {
  .modal-form {
    position: relative;
    min-width: 350px;
    min-height: 609px;
  }
  .textarea-form {
    width: 100%;
  }
  .checkbox-field {
    line-height: 1.16;
    font-size: 12px;
  }
  .checkbox-icon {
    left: 0;
  }
  .checkbox-label {
    padding-left: 24px;
  }
}
@media screen and (min-width: 560px) {
  .modal-form {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 528px;
    min-height: 581px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
