html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding-top: 80px;
  background-color: #ffffff;
  color: $primary-title-color;
  font-family: $main-font;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  @media screen and (max-width: 767px) {
    padding-top: 60px;
  }
  :focus {
    outline-color: $accent-text-color;
  }
  .modal-open {
    overflow: hidden;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
